<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tracking Pixel - Performance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
</head>

<body>
<main>
    <header>
        <h1>Performance</h1>
    </header>

    <section>
        <header>
            <h2>Totals</h2>
        </header>
        <table>
            <thead>
            <tr>
                <th>Campaign</th>
                <th>Totals</th>
            </tr>
            </thead>
            <tbody>
            {% for o in options %}
            <tr>
                <td>{{ o._id }}</td>
                <td>{{ o.total }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</main>
</body>
</html>